<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">

  {% if page.summary %}
    <meta name="description" content="{{ page.summary }}">
  {% else %}
    <meta name="description" content="Ariel Rodriguez Romero is a Software Engineer based on Philadelphia. This is his personal website.">
  {% endif %}
  
  <meta name="keywords" content="software engineer, programming, science, machine learning, blog, philadelphia">

  <title>
    {% if page.title == "Home" %}
      {% if site.tagline != "" %}
        {{ site.title }} &middot; {{ site.tagline }} 
      {% else %}
        {{ site.title }}
      {% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png" media="all">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  <meta name="author" content="Ariel Rodriguez Romero">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ariel Rodriguez Romero">
  <meta property="og:url" content="http://arielrodriguezromero.com">
  <meta property="og:image" content>
  <meta property="og:description" content="Ariel Rodriguez Romero is a Software Engineer based on Philadelphia. This is his personal website.">

  <meta itemscope="" itemtype="website">
  <meta itemprop="description" content="Ariel Rodriguez Romero is a Software Engineer based on Philadelphia. This is his personal website.">
  <meta itemprop="image" content="">

</head>
